.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
  }
  
  .container {
    display: flex;
    flex: 1; 
  }
  
  .navbar {
    flex: 2%; 
  }
  
  .dashboardPanel {
    flex: 66%; 
  }
  
  .activityPanel {
    flex: 24%;
  }
  